@import '../variable';

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: $lightColor;
    line-height: 1.6;
    text-align: center;
}