// IMPORTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

// FONTS
$mainFont: 'Montserrat', sans-serif;

// COLORS
$greenColor: #1db954;
$lightColor: #ffffff;
$darkColor: #000000;
$spotifyColor: #121212;
$fontColor: #8d8d8d;
$wrapperColor: #181818;
$altWrapperColor: #282828;

// MEDIA QUERIES
$medium: 40.063em;
$large: 64.063em;
$xlarge: 90.063em;
$xxlarge: 120.063em;